@font-face {
    font-family: "Chakra Petch";
    src: url("Assets/Fonts/ChakraPetch-Medium.ttf");
}

@font-face {
    font-family: "Special Elite";
    src: url("Assets/Fonts/Special Elite.ttf");
}

@font-face {
    font-family: "Ravi Prakash";
    src: url("Assets/Fonts/Ravi Prakash.ttf");
}

@font-face {
    font-family: "Audiowide";
    src: url("Assets/Fonts/AudioWide.ttf");
}

body {
    background-color: black;
    height: 100%;
}

canvas {
    display: block;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

#p5_loading{
    font-family: Chakra Petch;
    font-size: 80px;
    text-decoration: underline;;
    text-shadow: -2px -1px 5px black;
    color: white;    
    text-align: center;
}

h1{
    font-size: 80px; 
    font-family: Ravi Prakash;
    color: whitesmoke; 
    margin-bottom: 0px;  
}

h2{
    margin-top: 0px;  
    font-size: 20px;
    font-family: Ravi Prakash; 
    color: whitesmoke;
}

button{
    margin-right: 7px;
    padding-right: 5px;
    padding-left: 5px;
    width: 120px;
    height: 30px;  
    background-color: beige;
    font-family: Special Elite;
    color: purple; 
    border-color: purple;  
    cursor:pointer;
}

button:hover{ 
    color: beige;
    background-color: purple;  
}

.clip{
    clip-path: url(#clip);
}

#tutorialSpace{
    width: 650px;
    height: 300px; 
    position: absolute;
    z-index: 9;
    background-color: black;
    border: 3px solid white;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tutorialSpaceHeader{  
    padding: 10px;  
    width: 67%;
    float: left;  
    cursor: move;
    z-index: 10;
    border: 3px solid #2196F3;
    color: #fff;
    text-align: center;
    font-family: Audiowide;
}

#deleteButton{
    padding: 10px;
    width: 25%;  
    float: left;  
    cursor: pointer;  
    z-index: 10;
    border: 3px solid red;
    color: #fff;
    text-align: center;
    font-family: Audiowide;
}

#tutorialText{
    color: white;  
    padding: 10px;  
    margin-top: 20px;
    font-family: Arima Madurai;
    font-size: 110%;
}

#tutorialText > p{
    text-indent: 50px;  
}

.arrow{
    border: solid white;
    color: white;  
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.nextButton{ 
    border: none;
    background-color: rgba(0, 0, 0, 0);  
    color: whitesmoke;  
    float: right;  
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 5px;  
    font-family: Special Elite;
}

.nextButton:hover{ 
    border: 2px solid whitesmoke;
}

*{
    -webkit-touch-callout: none;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}